body {
    background-color: #FEECD1;
    font-family: Atkinson Hyperlegible;
}
header div {
    display: flex;
    justify-content: center;
    padding-top: 3em;
}
header img {
    width: 90%;
    margin-bottom: 1em;
}
div h1 {
    font-size: 4em;
    text-align: center;
}

div h2 {
    text-align: center;
    font-size: 2.4em;
    max-width: 100%;
}

div p {
    font-size: 1.2em;
    text-align: left;
    margin: 20px;
    max-width: 100%;
}

div a {
    text-decoration: none;
    color: #1C1C1C;
    background-color: #A874D2;
    border-radius: 50px;
    padding: 30px;
    font-weight: bolder;
    font-size: 3em;
    display: flex;
    justify-content: center;
    width: 250px
}

.volgende {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

